

aside{
    background-color: #0E263C;
    color: white;
    height: calc(100vh - 70px);
}
header{
    height: 70px;
}


.navbar-brand img{
    max-height: 70px;
}

.my_searchbar{
    background-color: #E5E5E5;
    height: 60px;
    border-radius: .5rem;
}

.my_searchbar input{
    background-color: transparent;
}

.my_searchbar i{
    margin-left: 12px;
}

.my_plan{
    background-color: #165BBA;
    color: white;
    border: none;
    border-radius: .75rem;
    vertical-align: text-bottom;
    padding: 0 10px;
}