


aside{
    background-color: #0E263C;
    color: white;
    height: calc(100vh - 75px);

}

li{
    list-style: none;
    transition: all .5s;
    cursor: pointer;
}

tr{
    cursor: pointer;
    transition: all .5s;
}

header{
    height: 75px;
}

table img{
    height: 25px;
    width: 25px;
}

.navbar img{
    width: 80%;
}

.my_searchbar{
    background-color: #E5E5E5;
    height: 60px;
    border-radius: .5rem;
}

.my_searchbar input{
    background-color: transparent;
}

.my_searchbar i{
    margin-left: 12px;
}

.my_plan{
    background-color: #165BBA;
    color: white;
    border: none;
    border-radius: .75rem;
    vertical-align: text-bottom;
    padding: 0 10px;
}

.my_main-content{
    background-color: #F8F9FA;
}



.my_main-page{
    height: calc(100vh - 75px);
}

.offcanvas{
    width: 100% !important;
}


.my_top-aside li:hover{
    background-color: lightgray;
}
.my_bot-aside li:hover{
    background-color: lightgray;
}

tr:hover{
    background-color: lightgray;
}



@media all and (min-width: 996px) {
    .offcanvas{
        width: 40% !important;
    }
    
}
